In [24]:
import pandas as pd
import numpy as np
import xlsxwriter

In [25]:
# Sample DataFrame
df = pd.DataFrame(np.random.randn(5, 4), 
                columns=['one', 'two', 'three', 'four'],
                index=['a', 'b', 'c', 'd', 'e'])

In [26]:
df

        one       two     three      four
a  0.692768 -1.015805  0.442346  0.076114
b -0.221192 -0.855598  1.849818 -1.381809
c -0.217146 -1.613632  0.730151  1.060618
d -1.321791  0.268923  0.814842 -0.296047
e -0.300919  0.884040  1.130009  0.496487

In [27]:
# Dump Pandas DataFrame to Excel sheet
writer = pd.ExcelWriter('myreport.xlsx', engine='xlsxwriter')

In [28]:
df.to_excel(writer, sheet_name='Sheet1', startrow=2)

In [29]:
# Get book and sheet objects for futher manipulation below
book = writer.book
sheet = writer.sheets['Sheet1']

In [30]:
# Title
bold = book.add_format({'bold': True, 'size': 24})
sheet.write('A1', 'My Report', bold)

0

In [31]:
# Color negative values in the DataFrame in red
format1 = book.add_format({'font_color': '#E93423'})
sheet.conditional_format('B4:E8', {'type': 'cell', 'criteria': '<=', 'value': 0, 'format': format1})

0

In [32]:

# Chart
chart = book.add_chart({'type': 'column'})
chart.add_series({'values': '=Sheet1!B4:B8', 'name': '=Sheet1!B3', 'categories': '=Sheet1!$A$4:$A$8'})
chart.add_series({'values': '=Sheet1!C4:C8', 'name': '=Sheet1!C3'})
chart.add_series({'values': '=Sheet1!D4:D8', 'name': '=Sheet1!D3'})
chart.add_series({'values': '=Sheet1!E4:E8', 'name': '=Sheet1!E3'})
sheet.insert_chart('A10', chart)

writer.save()