In [3]:
import pandas as pd

In [4]:
# Load the data from GitHub
LINK = "https://raw.githubusercontent.com/kirenz/data-storytelling/main/data/3_4_data.csv"
df = pd.read_csv(LINK)

In [5]:
df.head()

      Date  Direct Sales  Indirect Sales  Goal
0  Jan.-19            88              82    90
1  Feb.-19            76              71    90
2  M채rz-19            48              89    90
3  Apr.-19            76              81    90
4   Mai-19            71              88    90

In [6]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [7]:
df.head()

      date  direct_sales  indirect_sales  goal
0  Jan.-19            88              82    90
1  Feb.-19            76              71    90
2  M채rz-19            48              89    90
3  Apr.-19            76              81    90
4   Mai-19            71              88    90